body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end; /* Alinhar à direita */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.iframe-container {
    margin: 0 auto; 
}

iframe {
    border: none; 
}

.required {
    color: red;
}

section {
    margin-bottom: 30px;
}

fieldset {
    border: none;
    padding: 20px; /* Adicionando algum espaço interno */
    background-color: #f8f9fa; /* Cor de fundo */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

legend {
    font-weight: bold;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px); /* Largura com desconto para a margem interna do fieldset */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 150px;
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Cor do botão */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Cor do botão quando o mouse passa por cima */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

a {
    color: #fff;
}
