body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    align-items: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: end;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.iframe-container {
    margin: 0 auto; 
  }

  iframe {
    border: none; 
  }

.required {
    color: red;
}

section {
    margin-bottom: 30px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

a {
    color: #fff;
}
